/*
** SETUP STYLES
*/
body {
  margin: 0;
  padding: 0;
  font-family: "Press Start 2P", cursive;
  background-color: #9ac80c;
}

h1 {
  text-align: center;
  line-height: 1.5;
}

.container {
  margin: auto;
  max-width: 1000px;
  text-align: center;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  margin: 20px auto 20px auto;
}

.game-title {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 170%;
  color: #000;
}

.score-text {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #000;
  font-size: 125%;
}

.start-btn {
  font-family: "Press Start 2P", cursive;
  padding: 10px 30px;
  font-size: 10px;
  background-color: #8dc000;
  color: #000;
  border: 2px solid #000;
}

/*
** GAME STYLES
*/
.grid {
  margin: auto;
  display: flex;
  flex-wrap: wrap;

  width: 600px;
  height: 600px;
  border: 1px solid #000;
}

.grid-cell {
  width: 20px;
  height: 20px;
}

.snake {
  background-color: #000;
  border-radius: 100%;
}

.apple {
  background-color: #000;
  border-radius: 100%;
}

.builtby-text {
  font-size: 70%;
  text-align: center;
  color: #fff;
  opacity: 0.8;
  text-align: center;
  margin-top: 40px;
}
